body {
  background-color: #23272f;
  color: #f6f7f9;
}

.item {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.container-counter {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.container-counter h3 {
  font-size: 30px;
}

.container-counter button {
  width: 50px;
  margin-right: 10px;
}

.number {
  width: 100px;
  background-color: #107191;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.card-body {
  color: black;
}
